@page
@model IndexModel
@{
    ViewData["Title"] = "ONY network";
}

<!-- JAVASCRIPT BRANCH -->

<h3>Navbar</h3>

<a href="" id="changeCurrencyEuro">CHANGER EN EURO (défaut)</a>
<br>
<a href="" id="changeCurrencyDollar">CHANGER EN DOLLAR</a>
<br>
<a href="" id="adOffers">OFFRES PROMO</a>

<h3>Web</h3>

<button type="button" class="btn btn-primary" id="webClassicDetails">DÉTAILS (CLASSIC)</button>
<button type="button" class="btn btn-primary" id="webClassicAdd">AJOUTER AU PANIER (CLASSIC)</button>

<button type="button" class="btn btn-primary" id="webPremiumDetails">DÉTAILS (PREMIUM)</button>
<button type="button" class="btn btn-primary" id="webPremiumAdd">AJOUTER AU PANIER (PREMIUM)</button>

<button type="button" class="btn btn-primary" id="webUltimateDetails">DÉTAILS (ULTIME)</button>
<button type="button" class="btn btn-primary" id="webUltimateAdd">AJOUTER AU PANIER (ULTIME)</button>

<h3>Cloud</h3>

<button type="button" class="btn btn-primary" id="cloudClassicDetails">DÉTAILS (CLASSIC)</button>
<button type="button" class="btn btn-primary" id="cloudClassicAdd">AJOUTER AU PANIER (CLASSIC)</button>

<button type="button" class="btn btn-primary" id="cloudPremiumDetails">DÉTAILS (PREMIUM)</button>
<button type="button" class="btn btn-primary" id="cloudPremiumAdd">AJOUTER AU PANIER (PREMIUM)</button>

<button type="button" class="btn btn-primary" id="cloudUltimateDetails">DÉTAILS (ULTIME)</button>
<button type="button" class="btn btn-primary" id="cloudUltimateAdd">AJOUTER AU PANIER (ULTIME)</button>


<!-- --------- -->


<h1>ONY.network</h1>