@page
@model IndexModel
@{
    ViewData["Title"] = "ONY network";
}

<!-- JAVASCRIPT BRANCH -->

<h3>Navbar</h3>
<!-- changer monnaie-->
<button type="button" class="btn btn-primary" id="changeCurrencyEuro">CHANGER EN EURO (défaut)</button>
<br>
<button type="button" class="btn btn-primary" id="changeCurrencyDollar">CHANGER EN DOLLAR</button>
<p id="moneyUse"></p>
<br>

<!-- modale promo-->
<button type="button" class="btn btn-primary" id="adOffers" data-bs-toggle="modal" data-bs-target="#modalPromo">OFFRES PROMO</button>

<div class="modal fade show" id="modalPromo" tabindex="-1" aria-labelledby="modalPromoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <p> offre du moment</p>
            </div>
        </div>
    </div>
</div>

<!---->
<h3>Web</h3>

<button type="button" class="btn btn-primary" id="webClassicDetails">DÉTAILS (CLASSIC)</button>
<button type="button" class="btn btn-primary" id="webClassicAdd">AJOUTER AU PANIER (CLASSIC)</button>

<button type="button" class="btn btn-primary" id="webPremiumDetails">DÉTAILS (PREMIUM)</button>
<button type="button" class="btn btn-primary" id="webPremiumAdd">AJOUTER AU PANIER (PREMIUM)</button>

<button type="button" class="btn btn-primary" id="webUltimateDetails">DÉTAILS (ULTIME)</button>
<button type="button" class="btn btn-primary" id="webUltimateAdd">AJOUTER AU PANIER (ULTIME)</button>

<h3>Cloud</h3>

<button type="button" class="btn btn-primary" id="cloudClassicDetails">DÉTAILS (CLASSIC)</button>
<button type="button" class="btn btn-primary" id="cloudClassicAdd">AJOUTER AU PANIER (CLASSIC)</button>

<button type="button" class="btn btn-primary" id="cloudPremiumDetails">DÉTAILS (PREMIUM)</button>
<button type="button" class="btn btn-primary" id="cloudPremiumAdd">AJOUTER AU PANIER (PREMIUM)</button>

<button type="button" class="btn btn-primary" id="cloudUltimateDetails">DÉTAILS (ULTIME)</button>
<button type="button" class="btn btn-primary" id="cloudUltimateAdd">AJOUTER AU PANIER (ULTIME)</button>


<!-- --------- -->


<h1>ONY.network</h1>