html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*position de la fentre modale*/

#intModalPromo {
    margin-top:15%;
}


/*panier*/

#titreModalePanier{
    font-size:2rem;
}
#listePanier {
    list-style-type: none;
}
.produitPanier {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*soulier lien*/
.lienSouligner {
    border-bottom: 2px solid black;
    border-radius: 5px;
}

/*effet promotion*/
.visibility {
    visibility: visible;
}
.hiden {
    visibility: hidden;
}

